body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

h1 {
    color: #800000;
}

table {
    border-collapse: collapse;
    width: 300px;
    margin-bottom: 15px;
}

table, th, td {
    border: 1px solid #555;
    padding: 6px;
    text-align: center;
}

.foto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #777;
    border-radius: 5px;
    margin-bottom: 15px;
}

input {
    padding: 6px;
    width: 200px;
}

button {
    padding: 7px 15px;
    background: #800000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #4f0000;
}
